.portal-nav-menu-admin {
    list-style: none;
}

.portal-nav-menu-admin__item {
    position: relative;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px solid #ced2d6;
    box-shadow: 0 1px 0 0 #b5b9bd;
    background-color: white;
    display: block;
    padding-left: 12px;
    padding-right: 25px;
    height: 62px;
}

.portal-nav-menu-admin__item span.grippy {
    position: absolute;
    top: 23px;
    right: 6px;
    content: '....';
    width: 10px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    line-height: 7px;
    padding: 3px 4px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    vertical-align: middle;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #ced2d6;

}

.portal-nav-menu-admin__item span.grippy::after {
    content: '.. .. .. ..';
}

.portal-nav-menu-admin__item span.grippy.cursor-grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.portal-nav-menu-admin__item h3.grippy {
    color: black;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portal-nav-menu-admin__item h3.grippy.cursor-grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.portal-nav-menu-admin__item_link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 8px;
}